.home {
    .page-header {
        /* width: 100%; */
        /* -webkit-filter: blur(1px); */
        background-image: url('/customer-header.jpg');
    }
    .button-tool {
        float: left;
        margin-top: 18px;
        margin-left: 5px;
    }
}
